.bot-update #title {
    font-size: 20px;
    margin-bottom: 0px;
}
.bot-update #update {
    width: 25%;    
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: 25px;
}
#bot-update-form #submit {
    margin-left: 7px;
}
.bot-update .alert-info, .bot-update .alert-danger {
    width: 50%; 
    margin-left: auto; 
    margin-right: auto; 
}
