#register-form .form-group {
    margin-bottom: 30px;
}
#register-form {
    width: 50%;
    margin-left: auto;
    margin-right: 20%;
}
#register-form input,
#register-form button,
#register-form #country-input {
    width: 257px;
}
#register-form #dob select:first-child {
    margin-left: 15px;
}
#register-form #dob select {
    margin-right: -7px;
}
#register-form #dob p {
    display: inline;
}
#register-form #password-input input:first-child {
    margin-bottom: 15px;
}
#register-form .alert-danger {
    text-align: center;
    width: 257px;
}
