#uploading {
    display: none;
}
.avatar {
    width: 168px;
    height: 168px;
    border: 1px solid #ccc;
    overflow: hidden;
    position: relative;
    float: left;
}
.avatar img {
    position: absolute;
}
.profile-header {
    height: 170px;
}
.profile-body {
    clear: both;
}
.upper-header {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    text-align: left;
    height: 84px;
    line-height: 120px;
}
.upper-header ul {
    list-style: none;
}
.upper-header li {
    font-size: 20pt;
    float: left;
    padding: 0 10px;
}
.upper-header li.name {
    height: 84px;
}
.upper-header li.country {
    float: right;
    font-size: 11pt;
    line-height: 137px;
    color: #777;
    padding-right: 0;
}
.lower-header {
    text-align: left;
    font-size: 12pt;
    margin: 7px 0 0 178px;
}
.lower-header button {
    float: right;
}
.lower-header .when {
    color: #999;
}
.lower-header ul {
    list-style: none;
}
.lower-header p {
    float: left;
    margin-right: 5px;
}
.lower-header li {
    display: inline;
}
.lower-header li:after {
    content: "•";
    margin-left: 5px;
}
.lower-header li:last-child:after {
    content: "";
}
.bot-status {
    padding: 5px;
    margin: 15px auto;
    clear: both;
    width: 300px;
    border-radius: 5px;
}
ul.contact {
    list-style: none;
}
ul.contact li {
    text-align: left;
}
ul.contact li {
    display: inline;
}
