@import url(http://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}
#login {
    margin: 50px auto;
    width: 300px;
}
#title {
    margin-bottom: 35px;
    font-size: 24px;
}
#forgot {
    font-size: 16px;
    float: right;
}
#check {
    margin-top: 18px;
    font-size: 16px;
}
.uppercase {
    text-transform: uppercase;
}
#login-form input[type="checkbox"] { 
    float: left;
}
#login-form input[type="submit"] {
    margin-top: 15px;
    height: 43px;
    width: 300px;
}
#login-form input[type="text"], #login-form input[type="password"] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 43px;
    padding: 0px 10px;
    width: 300px;
}
#login-form input[type="password"] {
    margin-bottom: 5px;
}
.round {
    background-color: #5a5656;
    border-radius: 50%;
    color: #f4f4f4;
    display: block;
    font-size: 12px;
    height: 50px;
    line-height: 50px;
    margin: 30px 125px;
    text-align: center;
}
.google-before {
    background-color: #DF3131;
    color: #f4f4f4;
    display: block;
    float: left;
    height: 43px;
    line-height: 43px;
    text-align: center;
    width: 50px;
}
.google {
    background-color: #dd4b39;
    color: #f4f4f4;
    height: 43px;
    width: 250px;
}
.google:hover, .google:active, .google:focus {
    background-color: rgb(197, 44, 44);
}
.github:hover, .github:active, .github:focus {
    background-color: rgb(80, 81, 88);
}
.github:hover, .github:active, .github:focus,
.google:hover, .google:active, .google:focus {
    outline: none;
    box-shadow: none;
}
.rounded {
    border: none;
    border-radius: 3px 0px 0px 3px;
}
.rounded-left {
    border: none;
    border-radius: 0px 3px 3px 0px;
}
.github-before {
    background-color: #34343F;
    color: #f4f4f1;
    display: block;
    float: left;
    height: 43px;
    line-height: 43px;
    text-align: center;
    width: 50px;
}
.github {
    background-color: #444;
    color: #f4f4f4;
    height: 43px;
    width: 250px;
}
#remember {
    margin-left: 5px;
}
