@charset "UTF-8";
* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    font-family: 'Trebuchet MS', Verdana, sans-serif;
    margin: 0;
}
ol, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
div.game {
    border: 1px solid #999;
    position: absolute;
    top: 40px;
    left: 0;
    right: 200px;
    bottom: 30px;
    margin: 10px;
}
div.gameboard {
    position: relative;
    background-color: #e0f0e0;
    background-image: linear-gradient(0deg,
        rgba(255, 255, 255, .3) 25%, transparent 25%,
        transparent 50%, rgba(255, 255, 255, .3) 50%,
        rgba(255, 255, 255, .3) 75%, transparent 75%, transparent
    ),
    linear-gradient(90deg,
        rgba(255, 255, 255, .3) 25%, transparent 25%,
        transparent 50%, rgba(255, 255, 255, .3) 50%,
        rgba(255, 255, 255, .3) 75%, transparent 75%, transparent
    );
    background-size: 80px 80px, 80px 80px;
    width: 100%;
    height: 100%;
}
header {
    z-index: 0;
    padding: 10px;
    background-color: #eee;
    position: relative;
    width: 100%;
}
header .gamemeta {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;

    z-index: -1;
}
header .gamemeta strong {
    font-weight: normal;
    font-size: 80%;
}
header .toolbar {
    float: right;
}
header .toolbar a:after {
    content: '▼';
    padding: 5px;
    font-size: 50%;
    display: block;
    float: right;
}
aside {
    float: right;
    width: 210px;
}
h1 {
    margin: 0;
    padding: 0;
    font-size: 110%;
    font-weight: normal;
    float: left;
}
h2 {
    display: inline;
    font-size: 100%;
}
h2:after {
    content: ', ';
}
.content {
    padding: 9px 0;
}
.breadcrumbs a:before {
    content: '« ';
}
aside ol {
    border-top: 1px solid #eee;
}
.bubble {
    border-radius: 50px;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 3px 0px rgba( 0, 0, 0, 0.5 );
}
aside ol span {
    background-color: yellow;
    display: block;
    float: left;
    margin-right: 5px;
}
aside ol li {
    border-bottom: 1px solid #eee;
    padding: 5px 3px 5px 8px;
    font-size: 90%;
    line-height: 19px;
}
aside ol li del {
    color: #999;
}
aside ol li.you {
    background-color: #ffffca;
}
.yellow {
    background: #fceabb; /* Old browsers */
    background: -moz-linear-gradient(top,  #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fceabb), color-stop(50%,#fccd4d), color-stop(51%,#f8b500), color-stop(100%,#fbdf93)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
}
.black {
    background: #45484d; /* Old browsers */
    background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.red {
    background: #f85032; /* Old browsers */
    background: -moz-linear-gradient(top,  #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f85032), color-stop(50%,#f16f5c), color-stop(51%,#f6290c), color-stop(71%,#f02f17), color-stop(100%,#e73827)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */
}
.green {
    background: #bfd255; /* Old browsers */
    background: -moz-linear-gradient(top,  #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfd255), color-stop(50%,#8eb92a), color-stop(51%,#72aa00), color-stop(100%,#9ecb2d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */

}
.blue {
    background: #3b679e; /* Old browsers */
    background: -moz-linear-gradient(top,  #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b679e), color-stop(50%,#2b88d9), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}
.creature {
    position: absolute;
    width: 16px;
    height: 16px;
    margin: 2px;
    background-color: #333;
    border-radius: 50px;
}
#creature-1 {
    left: 40px;
    top: 40px;
}
#creature-2 {
    left: 60px;
    top: 40px;
}
#creature-3 {
    left: 40px;
    top: 60px;
}

#creature-4 {
    left: 500px;
    top: 140px;
}
#creature-5 {
    left: 500px;
    top: 180px;
}
#creature-6 {
    left: 420px;
    top: 180px;
}

#creature-7 {
    left: 320px;
    top: 380px;
}
#creature-8 {
    left: 520px;
    top: 380px;
}
#creature-9 {
    left: 620px;
    top: 300px;
}
.nav {
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    position: absolute;
    display: block;
}
.north {
    left: 50%;
    top: 0;
    margin-left: -16px;
    background-image: url('up.png');
}
.south {
    left: 50%;
    bottom: 0;
    margin-left: -16px;
    background-image: url('down.png');
}
.west {
    left: 0;
    bottom: 50%;
    margin-top: -16px;
    background-image: url('left.png');
}
.east {
    right: 0;
    bottom: 50%;
    margin-top: -16px;
    background-image: url('right.png');
}
.grid {
    position: absolute;
    background-color: rgba(255, 255, 200, 0.3);
    font-size: 50%;
    line-height: 20px;
}
.grid.vertical {
    width: 20px;
    height: 100%;
    left: 320px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-align: center;
}
.grid.horizontal {
    position: absolute;
    width: 100%;
    height: 20px;
    top: 380px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    vertical-align: middle;
    padding: 0 3px;
}
.infobubble {
    background-color: rgba(0, 0, 0, 0.7);
    color: #ccc;
    width: 150px;
    border-radius: 5px;
    position: absolute;
    top: 290px;
    left: 200px;
    font-size: 90%;
}
.infobubble:after {
    content: '▼';
    color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: -14px;
    right: 13px;
}
.infobubble h3 {
    color: white;
    margin: 0;
    padding: 0 0 15px 0;
    font-size: 100%;
    font-weight: normal;
}
.infobubble strong {
    color: white;
}
.infobubble .hp {
    width: 100%;
    height: 6px;
    background-color: rgba(50, 255, 50, 1);
    display: block;
}
.infobubble .hp .damage {
    background-color: rgba(255, 50, 50, 1);
    height: 6px;
    display: block;
    float: right;
}
.infobubble .stats {
    padding: 5px;
}
.map {
    width: 200px;
    height: 150px;
    border: 1px solid #333;
    margin: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
}
.map .indicator {
    width: 30px;
    height: 20px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    left: 30px;
    top: 50px;
}
.map .minicreature {
    width: 3px;
    height: 3px;
    position: absolute;
}
.minicreature:nth-child(1) {
    top: 55px;
    left: 35px;
}
.minicreature:nth-child(2) {
    top: 55px;
    left: 38px;
}
.minicreature:nth-child(3) {
    top: 60px;
    left: 35px;
}
.minicreature:nth-child(4) {
    top: 65px;
    left: 45px;
}
.minicreature:nth-child(5) {
    top: 75px;
    left: 55px;
}
.minicreature:nth-child(6) {
    top: 75px;
    left: 55px;
}
.minicreature:nth-child(7) {
    top: 85px;
    left: 55px;
}
.minicreature:nth-child(8) {
    top: 75px;
    left: 95px;
}
.minicreature:nth-child(9) {
    top: 95px;
    left: 55px;
}
.time {
    position: absolute;
    bottom: 0;
    margin: 5px;
    left: 0;
    right: 0;
    margin-right: 210px;
    margin-left: 10px;
}
.time .slider {
    margin: 10px 10px 0px 40px;
    width: 80%;
}
.time .round {
    float: right;
    position: relative;
    top: 5px;
    font-size: 90%;
}
.time .ui-slider-horizontal {
    height: 7px;
}
.time .ui-slider-horizontal .ui-slider-handle {
    top: -7px;
    margin-left: -5px;
    width: 10px;
}
.time .control {
    background-image: url('play.png');
    background-repeat: no-repeat;
    float: left;
    width: 32px;
    height: 32px;
    position: relative;
    top: -2px;
}
form {
    margin: auto;
    width: 500px;
    border: 1px solid #ccc;
}
