html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 50px;
}
#footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #f5f5f5;
}
.github-btn {
    border: 0;
    overflow: hidden;
}
.social-buttons > li {
    list-style: none;
    display: inline-block;
    padding-right: 50px;
}
.social-buttons > li > iframe {
    height: 20px;
    width: 75px; 
}
#main {
    margin-bottom: 65px;
}
