#header {
    margin: 0%;
}

ul, li {
    padding: 0;
    margin: 0;
}

#header ul {
    list-style-type: none;
    display: inline;
}

#header li {
    display: inline;
}

#header li#login {
    float: right;
}

h1 {
    font-size: 120%;
}
