div.steps { 
    width: 15%;
    float:left; 
    margin-right: 9%;
    border: 1px solid black;
}
#register-form {
    clear: both;
    text-align: center;
}
#steps {
    margin-left: 11%;
    margin-top: 5%;
    height: 86px;
    margin-bottom: 7%;
    text-align: center;  
}
