body {
    font-family: "Trebuchet MS", Verdana, sans-serif;
}
span.pass, span.fail {
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 18px;
}
span.pass {
    color: #009933;
    font-weight: bold;
    background-image: url( '../images/check.png' );
}
span.fail {
    color: #ff5555;
    font-weight: bold;
    background-image: url( '../images/alert.png' );
}
.unittest .results {
    border-collapse: collapse;
    margin: 10px 0;
}
.unittest .results td {
    padding: 5px 5px 5px 5px;
}
.unittest .results td:first-child {
    border-right: 1px solid #ddd;
    text-align: right;
}
.calltrace {
    border-collapse: collapse;
    border: 1px solid #232526;
    background-color: #323232;
    color: white;
}
.calltrace thead {
    color: #ef5939;
    background-color: #403d3d;
}
.calltrace th {
    font-weight: normal;
}
.calltrace table tbody tr {
    border-top: 1px solid #232526;
}
.calltrace table td, .unittest table th {
    padding: 5px;
}
.calltrace table th {
    text-align: left;
}
.calltrace .string {
    color: #e6db74;
}
.calltrace .integer, .unittest .double, .unittest .boolean {
    color: #ae81ff;
}
.calltrace .null {
    color: #f92672;
}
.calltrace .function {
    color: #a6e22e;
}
.calltrace .delimiter {
    color: #8f8f8f;
}
.calltrace .array, .unittest .object {
    color: #c4be89;
}
.calltrace td.linenr {
    background-color: #232526;
    color: #fd971f;
    text-align: right;
}
.calltrace .linenr {
}
.calltrace .class {
    color: white;
}
.calltrace .extension {
    color: #465457;
}
